<!Doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Help Page</title>
    </head>
    <body>
        <h1>{{pageTitle}}</h1>
        <p>Some Text here</p>
        <p>{{welcomeMsg}}</p>
    </body>
    <footer>
        <p>Copyright {{currentYear}}</p>
    </footer>
</html>